@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap-grid.min.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial Black", serif;
}
.pokemons-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.pokemon-item { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 30px;
        padding-top: 12px;
        flex-direction:row-reverse;
        width: 100%;
    }
    &-id {
        background: red;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        text-align: center;
        display: flex;
        align-items: center;
        font-size: 20px;
        justify-content: center;
    }
    &-name {
        font-size: 18px;
        text-transform: capitalize;
        font-weight: bold;
    }
    &-image{
        width: 150px;
        height: 180px;
    }
}

header {
    display: flex;
    align-items: center;
    height: 80px;
}

.pokeball-container {
    width: 50px;
    height: 50px;
    background: black;
    border-radius: 30px;
    position: absolute;
    -webkit-box-shadow: 0 0 2px 2px #000000;
    box-shadow: 0 0 2px 2px #000000;

    .pokeball-number {
        font-size: 25px;
        position: absolute;
        color: white;
        z-index: 10;
        top: -10px;
        left: -6px;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #000000;
    }

    .pokeball-white {
        width: 48px;
        height: 48px;
        background: white;
        border-radius: 26px;
        position: absolute;
        left: 1.45px;
        top: 1px;
        -webkit-box-shadow: 0 0 2px 2px #000000;
        box-shadow: 0 0 2px 2px #000000;
    }

    .pokeball-red {
        width: 49px;
        height: 25px;
        background: red;
        border-radius: 25px 25px 0 0;
        position: absolute;
        top: 1px;
        left: 1px;
        -webkit-box-shadow: 0 0 2px 2px #000000;
        box-shadow: 0 0 2px 2px #000000;
    }

    .pokeball-separator {
        position: absolute;
        width: 100%;
        height: .5px;
        background: black;
        top: 26px;
        left: 0;
        -webkit-box-shadow: 0 0 1px 1px #000000;
        box-shadow: 0 0 1px 1px #000000;

    }

    .pokeball-white-small {
        width: 15px;
        height: 15px;
        border: 2px solid #000;
        background: white;
        border-radius: 10px;
        position: absolute;
        top: 20px;
        left: 18px;
        -webkit-box-shadow: 0 0 1px 1px #000000;
        box-shadow: 0 0 1px 1px #000000;
    }



    .pokeball-white-small-bordered {
        width: 8px;
        height: 8px;
        background: #fff;
        border: 2px solid #000;
        border-radius: 10px;
        position: absolute;
        top: 24px;
        left: 22px;
        -webkit-box-shadow: 0 0 .3px .3px #000000;
        box-shadow: 0 0 .3px .3px #000000;
    }
}

.title {
    padding: 30px;
}

.shadow {
box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
 
  background: white;
  border-radius: 5px;
}